<article>
    <div class="card" style="width: 18rem;">
      <img src="images/Mongodb.webp" class="card-img-top" height="150">
      <div class="card-body">
        <h5 class="card-title">MONGO DB</h5>
        <a href="#" class="btn btn-primary">Start learning</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="images/Express.png" class="card-img-top" height="150">
      <div class="card-body">
        <h5 class="card-title">EXPRESS</h5>
        <a href="#" class="btn btn-primary">Start learning</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="images/Django.gif" class="card-img-top" height="150">
      <div class="card-body">
        <h5 class="card-title">DJANGO</h5>
        <a href="#" class="btn btn-primary">Start learning</a>
      </div>
    </div>
  </article>
  <article>
    <div class="card" style="width: 18rem;">
      <img src="images/React.png" class="card-img-top" height="150">
      <div class="card-body">
        <h5 class="card-title">REACT</h5>
        <a href="#" class="btn btn-primary">Start learning</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="images/Angular.jpg" class="card-img-top" height="150">
      <div class="card-body">
        <h5 class="card-title">ANGULAR</h5>
        <a href="#" class="btn btn-primary">Start learning</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="images/Node.jpg" class="card-img-top" height="150">
      <div class="card-body">
        <h5 class="card-title">NODE</h5>
        <a href="#" class="btn btn-primary">Start learning</a>
      </div>
    </div>
  </article>